<a href="/">Home page</a>
<p>----------------------------------</p>
<a href="/genres">Go to genres </a>
<h1>All Movies</h1>
<a href="/newMovie">Add new movie</a>
<% if(arrMovies) {%> <% arrMovies.map((movie)=>{ %>

<h4>
  <%= movie.title %>------
  <a href="/movies/<%= movie.movie_id %>">Open</a> -------
  <form
    action="/moviesDel/<%= movie.movie_id %>?_method=DELETE"
    method="POST"
    style="display: inline"
  >
    <button type="submit">Delete</button>
  </form>
</h4>
<% }) %> <% } %>
