<a href="/genres">Go back</a>
<form method="POST" action="/addGenre">
  <label for="genre">Genre name:</label>
  <input type="text" id="genre" name="genre" required />
  <button type="submit">Add</button>
</form>
